.welcome-message{
    font-size: 2.5em;
    background-color: aqua;
    color: blueviolet;
    padding: 10px;
    border-radius: 50px;
    width: 13%;

}
.Login-prompt{
    font-size: 2.5em;
    background-color: yellowgreen;
    color: orangered;
    padding: 10px;
    border-radius: 50px;
    width: 13%;

}